$aqua: #008b8b;
$block-back: #f0f0f0;

.navi-list {
  display: flex;
  flex-direction: column;
  li {
    position: relative;
    margin: 10px 0 0 0;
    background-color: $aqua;
    padding: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    right: -78%;
    transition: 0.3s;
    &:hover {
      right: 0;
      box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.671);
    }
    &:active {
      box-shadow: none;
    }
    a {
      font-size: 25px;
      font-weight: bold;
      color: $block-back;
      display: flex;
      .fas {
        margin: 0 19px 0 0;
        font-size: 27px;
      }
    }
  }
}