$aqua: #008b8b;
$block-back: #f0f0f0;

.skills-page {
  .skill {
    p {
      position: relative;
      overflow: hidden;
      display: flex;
      width: 100%;
      height: 20px;
      background-color: rgb(167, 167, 167);
      span {
        position: absolute;
        width: 100%;
        background-color: $aqua;
        color: $aqua;
        left: -95%;
        transition: 1s ease-out;
      }
    }
  }
  &:hover {
    .html-css {
      left: -5%;
    }
    .javascript {
      left: -10%;
    }
    .react-redux {
      left: -10%;
    }
    .git {
      left: -14%;
    }
  }
}