$aqua: #008b8b;

.train {
  ul{
    li {
      margin: 0 0 20px 20px;
    }
  }
  .fas, .fab {
    font-size: 50px;
    margin: 0 0 0 20px;
    color: $aqua;
    &:hover { 
    animation: train-icon-shake 0.3s linear;
    }
  }
}

@keyframes train-icon-shake {
  0% {transform: rotate(0deg)}
  25% {transform: rotate(-7deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(7deg)}
  100% {transform: rotate(0deg)}
}