$aqua: #008b8b;
$block-back: #f0f0f0;

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  padding: 0 5px;
  background-color: $aqua;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.356);
  .photo {
    text-align: center;
    margin: 20px 0 10px 0;
    .photo-wrap {
      border-radius: 50%;
      overflow: hidden;
      width: 110px;
      height: 110px;
      margin: 0 auto;
      transition: 0.5s;
        &:hover{
        box-shadow: 0 0 10px 0 black;
          img {
            transform: scale(1.2);
          }
        }
      img {
        width: 100%;
        height: 100%;
        transition: 0.5s;
      }
    }
  }
}